<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	
	<p>You have received a New Message from</p>
	<p>Name: <%= @name %></p>
	<p>Email: <%= @email %></p>
	<br>
	<br>
	<p><%= @body %></p>


</body>
</html>